# Define owners for the entire repo
* @FinoSyncCorp @DayanIbrarFinoSync

# Assign owners for specific files/folders
.github/* @FinoSyncCorp @DayanIbrarFinoSync
src/* @FinoSyncCorp @DayanIbrarFinoSync
